*{
    margin: 0px;
    padding: 0px;

}
#toppart h1{
    color: yellowgreen;
}
#toppart  nav ul {

    display: flex;
    gap: 150px;
    list-style: none;
    justify-content: center;
    background-color: white;
    
}
#toppart nav ul li a{
    text-decoration: none;
    list-style: none;
    height: 20px;
    width: 20px;
}

