*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#toppart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
#toppart h1{
    /* display: flex; */
    color: orangered;
    /* padding: 15px; */
    /* margin: 15px; */
    font-size: 50px;
    gap: 15px;
    /* align-items: end; */
    /* justify-content: space-between; */
    /* margin-right: auto; */
    font-family: Arial, Helvetica, sans-serif;
    


}
#toppart h1 span{
    color: black;
    /* justify-content: space-between; */
    

    
    
}
#toppart  nav ul {

    display: flex;
    gap: 90px;
    list-style: none;
    justify-content: center;
    background-color: white;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    
    
    
    
}
#toppart nav ul li a{
    text-decoration: none;
    list-style: none;
    color: black; 
} 
#toppart nav ul li a:hover{
    color: orangered;
    text-decoration: underline;
}
/* #toppart div{
    width: 500px;
    height: 500px;
    border: 1px solid black;
} */

#toppart .sg a{
  font-size: 25px;
  padding-right: 30px;
}

#toppart .sg a:hover{
  color: orangered;

}
 #Home {
    width: 100%;
    height: 75vh; 
    border: 1px solid black;
    background-image: url(rgnv4xvc.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    align-items: center;

} 

#toppart div {
    /* display: flex; */
    /* padding: 50px; */
    
    /* font-size: 25px; */
    
   
}
#Home div {
    width: 50%;
    /* border: 1px solid black; */
     line-height: 50px; 
    padding: 200px 50px;

}
#Home div:hover{
    color: orangered;
}
#Home div h1{
    font-size: 70px;
    color:white;
    padding: 5px 25px;
    font-family:Arial, Helvetica, sans-serif;
}
#Home div p{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;

}



  #section2 .container {
    display: flex;
     /* background: #fff;  */
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    overflow: hidden;
    /* background-color:lightblue; */
    width: 90%;
    padding-left: 30px;

  }
  
  
  
  #section2 .image-section img {
    width: 70%;
    height: 70%;
    background-size: cover;
    /* padding-top: 70px; */
    justify-content: center;
    align-items: center;
    margin-top: 30px;


  }
  
  #section2 .text-section {
    
    display: flex;
     flex-direction: column; 
    justify-content: center;
  }
  
  #section2 .text-section h1 {
    font-size: 40px;
    /* margin: 0; */
     padding-left: 100px; 
    
  }
  
  #section2 .text-section .highlight {
    color: #ff5722;
  }
  
  #section2 .text-section p {
    color: #777;
    margin: 20px 0;
    font-size: 25px;
    padding-left: 100px;
  }
  
  #section2 .explore-link {
    text-decoration: none;
    color:#777;
    
    font-weight: bold;
    text-align: center;
    
    font-size: 25px;
    
  }
  #section2 .explore-link:hover{
    color: orangered;
  }

  .featured-products {
    text-align: center;
     /* max-width: 1200px;  */
    margin: 0 auto;
    width: 100%;
    padding-top: 100px;
    
  }
  
  .featured-products h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .products {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .product {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    padding: 20px;
  }
  
  .product-image {
    position: relative;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
    /* border-radius: 10px; */
    
  }
  
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5722;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
  }
  
  
  .product h2 {
    font-size: 30px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .product p {
    font-size: 25px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .view-products {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #ff5722;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }


  #foot{
    background-color: black;
    padding: 90px 60px;
    text-align: center;
  }
  #foot .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* size:200px; */
  }
  #foot .footer-section{
    max-width: 400px;
    margin: 10px;
  }
  #foot .footer-section .pp{
    font-size: 50px;
    margin-bottom: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  #foot .footer-section .pp span{
     color: gray;
  }
  #foot .footer-section .ppp{
    font-size: 20px;
    margin-bottom: 15px;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

  #foot .footersection p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 80px;
  }

  #foot .footersection ul {
    list-style: none;

  }
  #foot .footersection ul li{
     margin: 15px 0;
     text-align: left;
  }
  #foot .footersection ul li a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
  }

    #foot .footer{
      padding: 50px;
    }

  #foot .footer ul li{
    margin: 15px 0;
    text-align: left;
    
    
  }
  #foot .footer ul li a{
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
  }


  #foot .footsection p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px 0;

    
  }
  #foot .social-icons a{
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
    font-size: 25px;
    color: gray;

  }
  #foot .social-icons a:hover{
    transform: scale(1.1);
  }
  
  .skill-box {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 400px;
  }
  
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 40px;
  }
  
  
  
  .label {
    font-size: 30px;
    color: black;
  }
  
  .percentage {
    font-size: 30px;
    color:black;
  }


  /* story section */
  
   #story div{
    width: 100%;
    /* border: 1px solid black; */
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    background-color:lavender;
   }
   #story div .stor{
    width: 40%;
    /* border: 1px solid black; */
    
   }
   #story div .st{
    width: 50%;
   /* border: 1px solid black; */
   }
   #story div .stor p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    text-align: center;
    text-shadow: 5px 5px 8px gray;
    font-weight: bold;
    padding-left: 150px;
    padding-top: 100px;

   }

#story div .stor p span{
  color: orangered;
}

#story div .st img{
  float: right;
  height: 65vh ;
  width: 900px;
  padding-top: 50px;
  padding-left: 100px;
  /* box-shadow: 5px 5px 8px gray, 5px 5px 8px gray; */
  

}
#main .box{
  width: 100%;
  border: 1px solid black;
  height: 70vh;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 80px;
  padding-top: 100px;
}

#main .mm{
  width: 400px;
  height: 230px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
}
#main .tt{
  width: 400px;
  height: 230px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;

}
#main .bbb{
  width: 500px;
  height: 230px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
}

#main .mm .don {
  display: flex;
}

#main .mm .don img{
  border-radius: 160px;
  height: 200px;
  padding-top: 20px;
}
#main .mm .don h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 90px;
  padding-left: 30px;

}
#main .mm .don p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: gray;
  padding-left: 30px;
  
}

#main .tt .kelly{
  display: flex;
}
#main .tt .kelly img{
  border-radius: 160px;
  height: 200px;
  padding-top: 20px;
}
#main .tt .kelly div h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 90px;
  padding-left: 30px;

}
#main .tt .kelly div p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: gray;
 padding-left: 30px;
}
#main .bbb .marie{
  display: flex;
}
#main .bbb .marie img{
  border-radius: 160px;
  height: 200px;
  padding-top: 20px;
}
#main .bbb .marie h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 90px;
  padding-left: 30px;
}
#main .bbb .marie p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: gray;
 padding-left: 30px;
}

#cost .cc{
  width: 100%;
  /* border: 1px solid black; */
  
}

#cost .oo{
  width: 60%;
  /* border: 1px solid black; */
  height: 50vh;
  margin-left: 380px;
  margin-top: 100px;
}
#cost .cc .pp{
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
}
#cost .cc .pt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: orangered;
}
#cost .cc .pt span{
  color: black;
}



#cost .oo .bb{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: grey;
  margin-top: 60px;

}
#cost .oo .bb span{
  font-size: 50px;
  color: orangered;
}
#cost .img{
  display: flex;
}

#cost .img img{
  border-radius: 160px;
  height: 100px;
   margin-top: 10px;
  margin-left: 120px; 
  
  
}
#cost  .img .go{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
   margin-left: 50px;
  margin-top: 80px; 
}

#cost .img .go span{
  color: gray;
}

#pro div{
  width: 100%;
  /* border: 1px solid black; */
  color:lightblue;
}
#pro div .produ{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: orangered;
  text-shadow: 5px 5px 8px gray;
  margin-top: 200px;
  margin-left: 100px;
}
#pro div .prod{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 5px 5px 8px gray;
  margin-left: 100px;
  color: black;
  
}


.fp {
  text-align: center; 
 
 width: 100%;
}

.fp h1 {
 font-size: 50px;
 font-weight: bold;
 margin-bottom: 40px;
 /* padding-top: 100px; */
 margin-top: 50px;
 font-family: Arial, Helvetica, sans-serif;
 /* padding-right: 100px; */
 text-align: center;

}

.fff {
 display: flex;
 justify-content: center;
 gap: 10px;
 flex-wrap: wrap;
}

.ff {
 background: #ffffff;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 overflow: hidden;
  max-width: 300px; 
 text-align: center;
 /* padding: 20px; */
}

.prodimg {
 /* position: relative; */
}

.prodimg img {
 width: 100%;
 height: auto;
 /* border-radius: 10px; */
 
}

.bad {
 position: absolute;
 top: 10px;
 left: 10px;
 background-color:black;
 color:white;
 padding: 5px 10px;
 font-size: 20px;
 border-radius: 5px;
}


.ff h2 {
 font-size: 30px;
 margin: 10px 0;
 font-family: Arial, Helvetica, sans-serif;
}

.ff p {
 font-size: 25px;
 color: #666;
 font-family: Arial, Helvetica, sans-serif;
}

.price {
 font-weight: bold;
 color: #333;
 margin-top: 10px;
}

/* Faqs section:
============== */

#faqs div{
  width: 100%;
  /* border: 1px solid black; */
  background-color: paleturquoise;
  height: 60vh;
}
#faqs div p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: orangered;
  /* margin-top: 300px; */
  margin-left: 100px;
  text-shadow: 5px 5px 8px gray;
  padding-top: 200px;
}
#faqs div p span{
  color: black;
}

#faqs-firs div{
  width: 100%;
  border: 1px solid black;
  
}

#faqs-first div p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 90px;
}


/* signin section:
================= */



#signin{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url(imgfashion.avif);
}
#signin .signin-container{
  width: 600px;
  padding: 20px;
  
}

#signin .signin-container .pp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 50px;
  color: black;
}
#signin .signin-form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}
#signin .input-field{
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  /* outline: none; */
  color:gray;
  font-family: Arial, Helvetica, sans-serif;
}
#signin .input-field:focus{
  border-color:black;
}

#signin .signin-button{
  background-color: black;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  /* transition: background 0.3s; */

}
#signin .signin-button:hover{
  background-color:grey;
}

#signin .create-account-text{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  margin-top: 30px;

}
#signin .create-account-text a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

#signin .create-account-text a:hover{
  text-decoration: underline;
}

/* signup section */

#signup .signup-container{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-image: url(imgfashion.avif);

}
#signup .signup-container .pppp{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
  
   
}

#signup .signup-container .aa{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /* margin: 20px; */
   padding: 12px; 
  border: 1px solid;
  border-radius: 30px;
  text-decoration: none;
  color:black;
  /* font-weight: 600; */

  /* position: relative; */
  /* margin-top: 10px; */

  
}

#signup .signup-container .aa:hover{
  color: black;
  background-color: orangered;
}

#signup .signup-container .aa i{
    
   margin: 15px;  
}


#signup .signup-container .pp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  
  color:grey;
}

#signup .signup-container form input{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 30%;
  
  
  
}

#signup .signup-container .star{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:#666;
}

#signup .signup-container .create-btn{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
   padding: 12px; 
  width: 25%;
  cursor: pointer;

}

#signup .signup-container .create-btn:hover{
  background-color: gray;
}
#signup .signup-container .aaa{
  display: block;
  margin-top: 10px;
  color:black;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}
#signup .signup-container .aaa:hover{
  color: orangered;
}


/* cart section */

#cart div{
  width: 100%;
  /* border: 1px solid black; */

}
#cart div p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: orangered;
  font-size: 80px;
  padding-top: 300px;
  padding-left: 80px;
  text-shadow: 5px 5px 8px gray;
  background-color:lavender;
}
#cart div p span{
  color: black;
}


/* section second */


#cart-second .dd{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

#cart-second .ddd{
  /* border: 1px solid black; */
  width: 50%;

}

#cart-second .dddd{
  border: 1px solid black;
  width: 40%;
  /* height: 70vh; */
  margin-top: 100px;
  height: 100vh;
}

#cart-second .ddd{
  padding-left: 100px;
  padding-top: 100px;
}
#cart-second .ddd img{
  width: 70%;
  height: 90vh;
}

#cart-second .dddd .head{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  padding-left: 30px;
  
}

#cart-second .dddd .head2{
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 30px;
}
#cart-second .dddd .head3{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* margin-top: 100px; */
  margin-left: 50px;
}
#cart-second .dddd .head4{
  color: #777;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   margin-left: 50px;
}

#cart-second .dddd select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
margin-left: 50px;
}

#cart-second .dddd button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  background-color: black;

  margin-left: 50px;
  padding-left: 30px;
  padding-right: 30px;
  
  
}
#cart-second .dddd button:hover{
  background-color: orangered;
}



/* Contact section */

#contact .cont {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  
  

}
#contact .cont .co{
  width: 50%;
}



#contact .cont .co p{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 60px;
/* text-align: center; */
color: orangered;
text-shadow: 5px 5px 8px gray;
margin-top: 200px;
margin-left: 50px;

}
#contact .cont .co span{
  color: black;
}

#contact .cont .c{
  width: 50%;
  justify-content: right;
  align-items: end;
   margin-top: 80px;
}

/* section second */

#contact2 .cont2 {
  width: 100%;
  
  /* padding-top: 50px; */
  display: flex;
   flex-wrap: wrap;

}

#contact2 .cont2 .cont22{
  width: 50%;
  
}

#contact2 .cont2 .cont22 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 60px;
  color: black;
  font-size: 60px;
  margin-left: 100px;
}

#contact2 .cont2 .cont22 h1 span{
  color: orangered;
}

#contact2 .cont2 .cont22 form input{
  height: 80px;
  width: 60%;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
}
#contact2 .cont2 .cont22 form button{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  border-radius: 30px;
  width: 20%;
   height: 10%; 
 margin-left: 100px; 
}

#contact2 .cont2 .cont22 form button:hover{
  background-color: orangered;
}
#contact2 .cont2 .cont22 form .in{
  height: 150px;
}


#contact2 .cont2 .contact3 {
  width: 50%;
  
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 50vh;
  margin-top: 10%;

}

#contact2 .cont2 .contact3 .cont3{
  margin-left: 30%;
}
  

#contact2 .cont2 .contact3 .cont3 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
    
}
#contact2 .cont2 .contact3 .cont3 a{
  text-decoration: none;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#contact2 .cont2 .contact3 .cont5{
  margin-left: 30%;
}

#contact2 .cont2 .contact3 .cont4 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#contact2 .cont2 .contact3 .cont4 a{
  text-decoration: none;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  
}
#contact2 .cont2 .contact3 .cont5 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#contact2 .cont2 .contact3 .cont6 h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#contact2 .cont2 .contact3 .cont5 p{
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
#contact2 .cont2 .contact3 .cont6 a{
  margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s;
    font-size: 25px;
    color: gray;  
}
#inp{
  display: none;
}
#bars{
  display: none;
}

/* create responsive website */


@media (max-width: 470px) { 
  #toppart h1{
    font-size: 30px;
  }
  #toppart div p{
    display: none;
  }
  #toppart nav ul{
    display: none;
  }
  #Home div h1{
    font-size: 30px;
  }
  #Home div p{
    font-size: 20px;
  }
  #bars{
    display: block;
    position: absolute;
    top: 10%;
    right:10%; 
    font-size: 40px;
    color:orangered;z-index: 50;
  }
  #inp:checked~#toppart nav ul{
    display:block;
    position: absolute; 
      top: 10%;  
     left: 63%; 
    
    /* padding: 20px; */
    border-radius: 10px;
    line-height: 40px;
    background-color:white;
  
    
    
   }
   #inp:checked~main #Home div{
     margin-top: 15%;
   }
   #Home{
    width: 100%;
    height: 100vh;
    background-image:  url(rgnv4xvc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
   }
   #section2 .container{
    display: block;
   }

   #section2 .image-section img{
    height: 60%;
    width: 120%;
    margin-top: 0%;
    
   }
   #section2 .text-section h1{
    padding-left: 0%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    display: block;
    gap: 0%;

    
   }
   #section2 .text-section p{
    font-size: 20px;
    padding-left: 0%;
   }

   .featured-products h1{
    font-size: 30px;
    padding-right: 0%;
   }

  

   #story div{
    width: 98%;
   }
   #story .st {
    display: none;
   }
   #story div .stor p{
    padding-left: 0%;
    padding-top: 0%;
    text-align: center;
    padding-top: 50%;
    padding-left: 20%;
    margin-top: 45%;
     
   }

   #main .box{
    padding-left: 5%;
    padding-top: 0%;
    gap: 0%;
    height: 120vh;
    width: 98%;
    
   }

   #main .bbb{
     width: 98%; 
    
    
   }
   #cost .cc{
    width: 98%;
   }
   #cost .cc .pp{
    font-size: 50px;
   }
   #cost .oo{
    margin-left: 20%;
    margin-top: 0%;
   }
   #cost .oo .bb{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 10%;
    /* margin-left: 50%; */
    
   }
   #cost .oo .bb span{
    display: none;
   }
   #cost .img{
    margin-top: 20%;
   }
   #cost .img img{
    margin-left: 0%;
    margin-top: 0%;
    height: 90px;
    margin-left: 30px;
    margin-top: 30px;
   }
   #cost .img .go{
    margin-left: 0%0;
    margin-top: 0%;
    font-size: 20px;
    margin-top: 40px;
    
   }
   #pro div .produ{
    margin-top: 0%;
    margin-left: 20%;
    font-size: 50px;
    margin-top: 40%;
    
   }
   #pro div .prod{
    margin-left: 20%;
    font-size: 50px;
   }

   #featured-products h1{
    font-size: 20px;
   }


   #contact .cont{
    margin-top: 25%;
    
   }

   #contact .cont .co p{
    font-size: 30px;
    margin-top: 30%;
   }

   

     #contact2 .cont2{
      display: block;
     }
     #contact2 .cont2 .cont22{
      width: 100%;
      
     }
     #contact2 .cont2 .cont22 h1{
      font-size: 40px;
      margin-left: 0%;
      text-align: center;
      justify-content: center;
     }
     #contact2 .cont2 .cont22 form input{
      width: 85%;
      margin-left: 0%;
      margin-left: 10%;
     }

     #contact2 .cont2 .cont22 form button{
      width: 40%;
     }
     #contact2 .cont2 .contact3{
      margin-top: 0%;
      height: 60vh;
      gap: 30%;
    
     }
     #contact2 .cont2 .contact3 .cont3{
      margin-left: 10%;
     }
     #contact2 .cont2 .contact3 .cont3 h1{
      font-size: 25px;
     }
     #contact2 .cont2 .contact3 .cont3 a{
      font-size: 15px;

     }
     #contact2 .cont2 .contact3 .cont5{
      margin-left: 10%;
     }
     #contact2 .cont2 .contact3 .cont4 h1{
      font-size: 25px;
     }
     #contact2 .cont2 .contact3 .cont4 a{
      font-size: 15px;
     }
     #contact2 .cont2 .contact3 .cont5 h1{
      font-size: 25px;
     }
     #contact2 .cont2 .contact3 .cont6 h1{
      font-size: 25px;
     }
     #contact2 .cont2 .contact3 .cont5 p{
      font-size: 15px;
     }
     #contact2 .cont2 .contact3 .cont6 a{
      font-size: 15px;
      margin: 0%;
     }

     #signup .signup-container form input{
      width: 80%;
     }
     #signup .signup-container .create-btn{
      width: 80%;
     }
     #cart div p{
      font-size: 40px;
      padding-left: 0%;
      width: 98%;
      
     }
     #cart-second .dd{
      display: block;
      width: 90%;
      
     }    
     #cart-second .ddd{
        padding-left: 20%;
        padding-top: 10%;

        
     }
     #cart-second .ddd img{
      width: 250%;
      height: 60vh;
     }
     #cart-second .dddd{
      margin-top: 10%;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: 5%;
      height: 90vh;
     }
     #cart-second .dddd .head{
      padding-left: 0%;
      text-align: center;
      padding-top: 0%;
      font-size: 35px;
     }
     #cart-second .dddd .head2{
           padding-left: 10%;
           font-size: 20px;
     }
     #cart-second .dddd .head3{
      margin-left: 30%;
      font-size: 25px;

      
     }
     #cart-second .dddd .head4{
      font-size: 20px;
      margin-left: 0%;
     }
     #cart-second .dddd select{
      margin-left: 10%;
      font-size: 20px;
     }
     #cart-second .dddd button{
      font-size: 20px;
     }
  }
  